@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li{
    @apply px-3;
    @apply cursor-pointer;
  }
  p{
    @apply md:text-xl text-xs;
    @apply text-[#45535F];
  }
  h1{
    @apply md:text-6xl text-4xl font-bold text-[#004450] md:leading-tight;
  }
  h2{
    @apply md:text-5xl text-3xl md:mb-6 mb-8 mt-2 md:mt-0 font-semibold text-[#004450];
    @apply leading-snug;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
